* {
  margin: 0px;
  padding: 0px;
}
.main-header {
  width: 100%;
  max-width:none;
  background-attachment: fixed;
  background-size:100%;
  height: 100%;
  box-sizing: border-box;
}
header img {
  width: 100%;
  height: 100%;
}
main {
  background: #5e85ac url(./images/background.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 2.3rem;
  position: fixed;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y:scroll; 
}
#dv-main {
  width: 880px;
  margin: auto;
  box-shadow: 0 2px 16px 0 #4f4f4f, 0 2px 16px 0 #4f4f4f;
  position: relative;
}
#secHeader {
  background: white url(./images/form-header.jpg) repeat;
  padding: 25px 40px ;
  border: 2px solid white; 
  box-sizing: border-box;
  text-align: left;
  font-size: 35px;

}
#secMain {
  background-color: white;
  height:auto;
  padding: 25px 60px ;
  padding-bottom: 150px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #303030;
  border: 2px solid white; 
  box-sizing: border-box;
 
}

p {
  font-size: 20px;
  margin: 20px  auto 10px;
}
#name,
#sname,
#email
 {
  font-size: 14px;
  margin: 5px auto 15px auto;
  padding: 10px;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#role,
#select-option,
#comments{
    font-size: 14px;
  margin: 5px auto 15px auto;
  padding: 10px;
  width: 50%;
  height: 100%;
  border: 1px solid #ccc;
}
.important {
  color: #ff0000 !important;
  font-weight: normal;
  margin-left: 0px;
  padding: 0;
}
#submit {
  color: #222;
  background-color: #bdc3c7;
  border-radius: 2;
  border: 1px solid #bdc3c7;
  outline: none;
  cursor:pointer;
  width: 75px;
  height: 35px;
}
